.header {
  padding: 5px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 20px;
}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1abc9c;
  color: white;
}


.button {
  background-color: #1abc9c;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 0px;
  cursor: pointer;
  width: 200px;
}

input[type=text], select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transform: translateX(50%);
}

.left {
  position: absolute;
  left: calc(50% - 250px);
}

.right {
  position: absolute;
  left: calc(50% + 50px);
}

.center {
  transform: translateX(calc(50% - 100px));
}

.button:hover {
  background-color: #45a049;
}
